<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>MerryMoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>

    <script type="text/javascript">window.iexAPIKey="<%=Rails.application.credentials.iex[:api_key]%>"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
